body{background-color:gray;
    margin: 0;
    padding:0;

}
.container{ 
    max-width:85%;
    margin: 50px auto; 
    background-color: white;
    border-radius: 20px;

    display:grid;
    grid-template-columns: 1fr 5fr ;
    grid-template-areas: 
   'sidebar header'
   'sidebar content1'
   'sidebar content2';
    gap: 15px; 
}

/* item */
.item{background-color: turquoise;}


/* Header */
.header{
    grid-area: header;

 
} 

/* sidebar */


.sidebar{
    grid-area:sidebar;

} 
.menu>li{
    background-color:thistle;
    box-sizing: border-box;
    display: flex;
    margin: 10px;
    margin-bottom: 20px;


}







/* content1 */
.content1{
     
    grid-area: content1;
    display: grid;
    grid-template-columns: repeat(auto-fit,250px);
    gap: 15px;
   

}
.content1>div{min-height: 250px;

    background-image: url(image/eabd9455-4c8c-4d7c-a534-b22019a67be5.jpg);
    background-size:cover;
    background-position: center;
    color: white;
   
 



}
a{
    align-self: end;
    justify-self: end;

 
  

   

}


/* content2 */

.content2{ 
    grid-area: content2; 
}
.content2>p{
    font-weight: bold;
    font-size: 20pt;
}

.recepi{
    display: grid; 
    grid-template-columns:repeat(auto-fit,300px);
    min-height: 200px;
    gap:25px;
    margin-right:20px;
    margin-left: -30px;
    margin-bottom: 50px;
    list-style-type: none;
}    

.recepi>li{  
   
  display: grid;
  /* background-color: blueviolet; */

  
}
img{max-width:170px;}

.recepi>li>img{ max-width:170px; 
    padding:0px;
    margin:auto;
    margin-left: 0px;
    z-index: 9999;}

.recepi>li>a{
    padding:0px;
    margin: auto;
    margin-left: 0px;
    z-index: 9999;}  


.recepi>li>p{
    width: 60%;
    background-color: rgb(255,215,0,.7);
    border-radius:10px;
margin-top: -130px;
    /* margin-bottom: 50%; */
    padding-top: 30px;
    
    justify-self: end;
   text-align: center;}

/* li:nth-child(2n) p{
    width: 70%;
    background-color:rgb(244,164,96,.8);

    border-radius:10px;

    margin-top: -100px;
    padding-top: 30px;
    
    justify-self: end;
    text-align: center; */

    




li>p:hover{
    background-color:rgb(52,210,170) ;
   opacity:1;}

.recepi>li>p>a{
    color:black;
   text-decoration: none;}








   






