body{
   background-color: silver;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   width: 600px;
   height: 50px;
   margin: 0px auto;
}
.container{
    padding-top: 50px;
    padding-left: 50px;
    background-color: white;
    border-radius: 30px;
}
img{
    border-radius: 30px;
}
h1{
    font-size: 50px;
    color: rgba(63, 62, 62, 0.795);
}
.button{
    color: honeydew;
    width: calc(200px);
    padding: 15px;
    font-size: 20px;
    border-radius: 40px;
    background-color: rgb(77, 199, 142);
    margin-bottom: 20px;
    border: none rgb(77, 199, 142);
}
.button:hover{
    color: rgb(77, 199, 142);
    transition: 0.2s;
    background-color: transparent;
    border: 1px solid rgb(77, 199, 142);
    cursor: pointer;
}
